body {
    background-color: #303030;
}
nav li{
    display:inline;
    padding-right:20px;

}

nav a{
    color: #FD4556;
    font-weight: bold;
    font-style: italic;
}


.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

nav{
    background-color: #303030;
    padding: 25px 0;
    text-align: right;
    border-bottom: #FD4556 5px solid;
}
.skip a{
    position: absolute;
    top: -40px;
}

.skip a:focus{
    position: absolute;
    top: 20px;
}

a:focus{
    border: 2px solid #FD4556;
}

#logo {
    position: absolute;
    right: 1820px;
    top: 6px;
    height: 40px;
}
#main{
    width: 100%;
    height: 100%;
    background-color: #303030;
    color: #fffbf5;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 2;
    text-align: center;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
#abouttext {
    background-color: black(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    font-weight: bold;
    border: 3px solid #FD4556;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    color: #fffbf5;
}
#info {
    background-color: black(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    font-size: 21px;
    border: 3px solid #FD4556;
    height: 170px;
    width: 800px;
    padding:20px;
    text-align: center;
    margin: 175px;
}
#valorant{
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    font-size: 21px;
    border: 3px solid #FD4556;
    height: 180px;
    width: 800px;
    padding:20px;
    margin: 150px auto;
    text-align: center;
    position: relative;
    left: 20%;
}
#video {
    position: absolute;
    right: 150px;
    bottom: 55px;
    text-align: center;
}
#video2 {
    position: absolute;
    top: 985px;
    left: 175px;
    text-align: center;
}
#container, #glossary, #container2{

    width: 700px;
    height: 600px;
    margin: 2% auto;
    background-color: #303030;
    background-size: 150px 150px;
    border: 10px solid #FD4556;
    border-radius: 0px 30px 0px 30px;
    text-align: center;
}
#glossary
{
    border-radius: 20px;
    background-color: #303030;
    color: #fffbf5;
    height: 100px;
}
#me {
    background-color: black(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    font-size: 21px;
    border: 10px solid #FD4556;
    position: absolute;
    right: 72%;
    top: 147%;
    height: 375px;
    width: 325px;
    text-align: center;
}
#me p{
    font-size: 20px;
    font-family: sans-serif;
    line-height: 2;
    font-weight: bold;
    color: #fffbf5;
    padding: 10px
}
#image
{
    height: 88%;
    width: 100%;
    overflow: hidden;
    position: relative;
}
img
{
    margin-top: 10px;
    height: auto;
    max-width: 650px;
}
button{
    position: relative;
    display: inline-block;
    padding: 15px 25px;
    color: #fff;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 3px;
    box-shadow: 0px 1px 4px -2px #333;
    text-shadow: 0px -1px #333;
    border-radius: 10px;
}
button:after{
    color: black;
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: 50%;
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
    border-radius: 10px;
}
button:hover{
    color: black;
    font-size: 28px;
}
button:focus{
    color: black;
    font-size: 28px;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: #FD4556;
}
h1{
    padding: 10px;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
}
h2{
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
}
#raze
{
    background-image: linear-gradient(rgb(255, 128, 10),rgb(219, 255, 152));
}
#killjoy
{
    background-image: linear-gradient(rgb(251, 255, 36),rgb(213, 107, 255));
}
#sage
{
    background-image: linear-gradient(rgb(0, 255, 191),rgb(255, 255, 255));
}
#astra
{
    background-image: linear-gradient(rgb(195, 0, 255),rgb(253, 255, 163));
}#reyna
{
    background-image: linear-gradient(rgb(195, 0, 255),rgb(0, 0, 0));
}
